body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-block {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
}

.header {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  width: 420px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
  width: 580px;
  justify-content: flex-end;
  padding: 0;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.first-block {
  padding: 80px 8px;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 420px;
  gap: 12px;
}

.first-left-one {
  font-size: 48px;
  font-weight: bold;
}

.first-block img {
  width: 580px;
  height: 220px;
}

.first-left button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  padding: 8px 24px;
  align-self: flex-start;
}

.second-block {
  padding: 24px;
}

.second-up {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  padding: 24px;
}

.second-down {
  color: gray;
  display: flex;
  gap: 48px;
  padding: 16px;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
}

.block img {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.block div {
  width: 150px;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 48px;
}

.third-block {
  padding: 150px;
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-up {
  width: 800px;
  font-size: 36px;
  font-style: italic;
}

.third-down {
  width: 800px;
  font-size: 24px;
  font-weight: bold;
  text-align: end;
}

.forth {
  padding: 68px;
  display: flex;
  justify-content: center;
}

.forth-block {
  background-color: #3882f6;
  border-radius: 10px;
  width: 900px;
  padding: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.forth-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #f9faf8;
}

.forth-left-up {
  font-size: 24px;
  font-weight: bold;
}

.forth-right {
  height: 40px;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  padding: 0px 30px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 14px;
  font-weight: bold;
}
